<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.ems.employee.model.mapper.EmployeeMapper">
    <select id="selectAll" resultType="com.kh.ems.employee.model.dto.EmployeeDTO">
        SELECT 
            EMP_ID as empId,
            EMP_NAME as empName,
            EMAIL as email,
            PHONE as phone,
            HIRE_DATE as hireDate,
            JOB_NAME as jobName,
            SALARY as salary,
            DEPT_TITLE as deptTitle
        FROM EMPLOYEE
        JOIN DEPARTMENT ON DEPT_ID = DEPT_CODE
        JOIN JOB USING(JOB_CODE)
    </select>
    <select id="selectCount" resultType="_int">
        SELECT COUNT(*) FROM EMPLOYEE
    </select>
</mapper>
