<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> STOCK WEB </title>
</head>
<body>
	<h1>STOCK WEB</h1>

	<hr>

	<form action="search" method="post">
		<input type="text" name="name" placeholder="종목명을 입력하세요" required>
		<button>검색</button>
	</form>

	<hr>

	<!-- 검색 결과가 없을 경우 표시할 화면 -->
	<div>
		<p>검색 결과가 없습니다.</p>
	</div>

	<!-- 검색 결과가 있을 경우 표시할 화면 -->
	<div>
		<table>
			<!-- <tr>
				<th>종목명</th>
				<th>코드</th>
				<th>현재가</th>
				<th>시가총액</th>
			</tr>
			<tr>
				<td>XXX</td>
				<td>XXX</td>
				<td>XXXXX</td>
				<td>XXXXXX</td>
			</tr> -->
			<tr>
				<th>종목명</th>
				<td>XXXXX</td>
			</tr>
			<tr>
				<th>코드</th>
				<td>XXXXXX</td>
			</tr>
			<tr>
				<th>현재가</th>
				<td>XXXXXXX</td>
			</tr>
			<tr>
				<th>시가총액</th>
				<td>XXXXXX</td>
			</tr>
		</table>
	</div>
</body>
</html>